body{
	background-color: #f1f5f8;
}

.dashboard-content{
	padding-top: 5rem;
}

.dashboard__watch-websites-container{
	border-width: 0;
	border-left-width: 1px;
	border-style: solid;
	border-color: #dae1e7;
	min-height: 600px;
	height: 100%
}

.dash-title {
	margin-block-start: 1em;
  margin-block-end: 0px;
}

.dash-subtitle{
	margin-block-start: 0px;
	color: #8795a1;
}

.menu__list {
	color: #191e38;
}

.menu__list a,  .menu__list a:hover, .menu__list a:visited, .menu__list a:link, .menu__list a:active{
	text-decoration: none;
}

.menu__list-element{
	display: block;
	margin: 1.5em;
	color: #191e38;
	text-decoration: none;
}

.menu__list-element img{
	display: inline-block;
  vertical-align: middle;
}

.dash__sidebar {
}

.button__add-website {
	float: right;
	background-image: linear-gradient(-60deg, #0C0F47 0%, #2a2aad 100%);
	border: none;
}

.dashboard__table-content-desktop {
	border: solid 0.1px #D9D9D9;
}

@media screen and (max-width: 45em) {
	.hide-mobile {
		display: none !important;
	}
	.dashboard-content{
		padding-top: 2rem;
	}
	.dash-title {
		margin-block-start: 0em;
	}
	.button__add-website-div{
		margin-top: 0rem;
	}
}

@media screen and (min-width: 45em) {
	.hide-desktop {
		display: none !important;
	}
}
