body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bg-purple-gradient {
  background-image: linear-gradient(to bottom, #0C0F47 10%, #2575fc 100%);
}

.bg-purple {
  background-color: #4641ff;
}

.purple {
  color: #4641ff;
}

.bg-green {
  background-color: #60BA46;
}

.green {
  color: #60BA46;
}

.b--green {
  border-color: #60BA46;
}

.bg-lightest-gray {
  background-color: #f7f7f7;
}

.bg-blue-90 {
  background-color: #0C0F47;
}

.hero {
  min-height: calc(100vh - 4rem);
}

.hero-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .96;
  z-index: 1;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.explainer-title {
  margin-block-start: 0.8em;
  margin-block-end: 0em;
}

.caret_home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
  padding-top: 11rem;
  margin-bottom: 0.5rem;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 400px) {
  .hero-title__mobile {
    padding-top: 14rem;
  }
  .pv6_mobile{
    padding-top: 1rem;
    padding-bottom: 1rem;
    }
}

@media only screen and (max-height: 700px) {
  .hero-title__mobile {
    padding-top: 7rem;
  }
  .caret_home {
    padding-top: 4rem;
    margin-bottom: 2rem;
  }
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}

#sidebar {
  box-shadow: 0 .125rem 9.375rem rgba(90,97,105,.1),0 .25rem .5rem rgba(90,97,105,.12),0 .9375rem 1.375rem rgba(90,97,105,.1),0 .4375rem 2.1875rem rgba(165,182,201,.1);
}

#sidebar ul a:hover {
  box-shadow: inset .1875rem 0 0 #357edd;
}

.bs-left-blue {
  box-shadow: inset .1875rem 0 0 #357edd;
}
